# editorconfig.org

# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use 2 spaces as indentation
[*]
insert_final_newline = true
indent_style = space
indent_size = 2

[project.json]
indent_size = 2

